flows1.json
[{"id":"2680bc59.bc52a4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9cdc3021.9708a","type":"debug","z":"2680bc59.bc52a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":220,"wires":[]},{"id":"e54cd563.279278","type":"rpi-gpio in","z":"2680bc59.bc52a4","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":300,"wires":[["9cdc3021.9708a","bd6a3c18.56077"]]},{"id":"3fad01b7.690cee","type":"rpi-gpio out","z":"2680bc59.bc52a4","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":590,"y":380,"wires":[]},{"id":"bd6a3c18.56077","type":"switch","z":"2680bc59.bc52a4","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":380,"wires":[["aa3dfa13.745268"],["3edbe42f.55107c"]]},{"id":"aa3dfa13.745268","type":"change","z":"2680bc59.bc52a4","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":340,"wires":[["3fad01b7.690cee"]]},{"id":"3edbe42f.55107c","type":"change","z":"2680bc59.bc52a4","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":420,"wires":[["3fad01b7.690cee"]]}]