flows2.json
[{"id":"98165ff1.18554","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7e2bdbf6.9a8404","type":"inject","z":"98165ff1.18554","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":100,"wires":[["288059f1.8f1726"]]},{"id":"288059f1.8f1726","type":"function","z":"98165ff1.18554","name":"Payload","func":"msg.headers={\n    deviceKey:\"8XCrZjpoXTmMYXm0\"\n};\nmsg.payload=\"Temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["de265acb.fc58e8"]]},{"id":"de265acb.fc58e8","type":"http request","z":"98165ff1.18554","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D0FycFSK/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":190,"y":180,"wires":[["4db5f580.45844c"]]},{"id":"4db5f580.45844c","type":"debug","z":"98165ff1.18554","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":280,"wires":[]}]