flows3.json
[{"id":"15d7cc3c.b70d84","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b5e55932.0394f8","type":"inject","z":"15d7cc3c.b70d84","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":200,"wires":[["bcd708d5.1bc8a8"]]},{"id":"bcd708d5.1bc8a8","type":"function","z":"15d7cc3c.b70d84","name":"Payload","func":"msg.headers={\n    deviceKey:\"8XCrZjpoXTmMYXm0\"\n    };\nmsg.payload=\"Temperature,,87.87\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":200,"wires":[["38b29263.c8dbce"]]},{"id":"38b29263.c8dbce","type":"http request","z":"15d7cc3c.b70d84","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D0FycFSK/datapoints.csv","tls":"","proxy":"","authType":"","x":110,"y":340,"wires":[["859e0da3.70e15"]]},{"id":"859e0da3.70e15","type":"debug","z":"15d7cc3c.b70d84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":340,"wires":[]}]